@charset 'utf-8';

@import "~bulma/sass/utilities/functions";

//@import "./styles/custom_colors.scss";

// Import a Open Sans
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Set your brand colors
$danger: #EB8264;
$success: #23C084;
$brown: #757763;
$shaded: #F0F0F0;

// Update Bulma's global variables
$family-sans-serif: "Open Sans";
$primary: $success;
$secondary: $danger;
$blank: white;
$widescreen-enabled: false;
$fullhd-enabled: false;

.App{
    margin-top: 16px;
    box-sizing: border-box;	
    height: auto;	
    width: auto;	
    border: 1px solid #D8D8D8;	
    border-radius: 4px;	
    background-color: #FFFFFF;	
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.15);
}

.top-header{
    width: auto!important;
}

.users{
    box-sizing: border-box;	
    width: auto;	
    border: 1px solid #D8D8D8;	
    border-radius: 4px;	
    background-color: #FFFFFF;	
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.15);
}

#search-right{

    span {
        display: inline-flex;
      }
      .icon{
          display: none;
      }
    
    @media only screen and (max-width: 600px) {
        span {
          display: none;
        }
        .icon{
            display: inline-flex;
        }
      }    
}



.root{
    font-family: 'Open Sans';
}

tr {
    
    //width: 100%;
    width: 1108px;	
}

td {
    vertical-align: middle !important;
    text-align: center;
}

td a, td input, td img {
    vertical-align: middle;
    display: inline-block;
}

#user-table{
    display: flex;
    justify-content: space-around;

}

#user-checkbox{
    background: #fff;
    box-sizing: border-box;	
    height: 16px;	
    width: 16px;	
    border-radius: 4px;
    //border: 1px solid #D8D8D8;	
    border-radius: 4px;
}

.td {
    height: 150px;
    vertical-align: bottom;
  }


.Button {	
    box-sizing: border-box;	
    height: 40px;	
    width: 120px;	
    border: 1px 
    solid rgba(0,0,0,0.2);	
    border-radius: 4px;
}
#search_input{
    margin-left: 0%;    
}


#icon-search {	
    height: 24px;	
    width: 24px;
}

#red_dot{
        float: left;
        align-content: left;
        width: 8px;
        height: 8px;
        background: #E44B4F;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
   
}

#green_dot{
    
    float: left;
    align-content: left;
    width: 8px;
    height: 8px;
    background: #23C084;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

}

#add-user-header{
    background: #fff;
    margin: 10px 0px 10px 10px;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    display: flex;
    flex-flow: column center;
    
}

#add-user-input {	
    box-sizing: border-box;	
    height: 40px;	
    width: 252px;	
    border: 1px solid #D8D8D8;	
    border-radius: 4px;
}

#level{
    display: flex;
    flex-wrap: nowrap;
}

#add-button{
    display: flex;
    flex-wrap: nowrap;
    @media only screen and (max-width: 600px) {
        span {
          display: none;
        }
      }

}

#add-user-input::placeholder{
    font-size: 16px;
    color: #4A4A4A;
}

.search-box{
    background-color: #fff;
    //display: flex ;
    padding-right: 36px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}

search-box::placeholder{
    font-size: 1rem;

}

#status-box
{    
    display: flex;
    align-items: center;
    box-sizing: border-box;	
    height: 24px;	
    width: 92px;	
    border: 1px solid #D8D8D8;	
    border-radius: 4px;	
    background-color: #FFFFFF;

        color: #4A4A4A;	
        font-size: 16px;	
        font-weight: 500;	
        line-height: 19px;    
}

#status-box-gray
{
    display: flex;
    align-items: center;
    background-color: #F0F0F0;
    box-sizing: border-box;	
    height: 24px;	
    width: 124px;	
    border: 1px solid #D8D8D8;	
    border-radius: 4px;	
    
}

#user-list{    
    color: #AAAAAA;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 1100px !important;
} 

#avatar{
    width: 40px;
    height: 40px;
}

#gray-user{
    color: #AAAAAA;

    img{        
  opacity: 0.5;
    }
    
}



.add-users{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.gray{
    background-color: #F0F0F0;
    

}

.gray_list{

    color: #AAAAAA;
    strong{

        color: #AAAAAA;
    }
}
// Update some of Bulma's component variables
$body-background-color: $shaded;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import Bulma styles
@import "~bulma/bulma";

// Import rbx style fixes (**very simple**)
@import "~rbx/rbx";
